/* form */
.form-container{
    background-color: blue;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}
.form-container h2{
    text-align: center;
}
.form-container input, select, .btn{
    width: 100%;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
}
.form-container div{
    /* margin-bottom: 10px; */
}

/* large screen */
@media only screen and (min-width:1200px) {
    .form-container{
        position: absolute;
        left: 40%;
        top: 12%;
    }
}

/* on small screen */
@media only screen and (max-width:767px) {

    .form-container{
        width: 100%;    
    }
    .form-container div{
        margin-bottom: 5px;
    }
    #btn-container{
        width: 100%;
    }
   
}