* {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 3%;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: 0.9s;
    z-index: 1;
}
.header{
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2%;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    background-color: #fff;
    width: 5%;
    padding: 1%;
    opacity: 1;
}

.navbar .bar {
    display: flex;
    position: relative;
    background-color:#333;
    width: 90%;
    height: 3px;
    margin-bottom: 9%;
    padding: 2%;
}

.navbar.open .bar:nth-child(2) {
    opacity: 0;
} 

.navbar.open .bar:first-child {
    transform: translate(-3px, 7px) rotate(45deg);
} 

.navbar.open .bar:nth-child(3) {
    transform: translate(-5px) rotate(-45deg);
} 

.content {
    flex: 1;
    box-sizing: border-box;
}
.sidebar-content{
    margin-top: 55px;
}


.sidebar-content ul li:hover {
    background-color: #555;
}

/* Add this CSS to your existing stylesheet */
.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar-content ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.sidebar-content ul li i {
    margin-right: 10px;
}

.sidebar-content ul li.with-arrow {
    position: relative;
}

.sidebar-content ul li.with-arrow i.bi-chevron-down {
    position: absolute;
    right: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
.submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    /* background-color: #333; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* z-index: 1; */
    margin-top: 40px;
}
.submenu li{
    padding: 10px;
    /* border-bottom: 1px solid #555;  */
}
.sidebar-content ul li.open + li {
    margin-top: 245px; /* Adjust the margin as needed */
}
/* form */
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 15%;
    right: 25%;
    width: 35%;
    height: 72vh;
    padding: 2%;
    color: #fff;
    border-radius: 2%;
}
.form-container h2{
    text-align: center;
}
.form-container input, select, #btn{
    width: 100%;
    padding: 10px;
    outline: none;
}
.form-container div{
    margin-bottom: 10px;
}

#data_plan, #amount{
    color: black;
    background-color: #fff;
    border: none;
    font-weight: bolder;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* large screen */
@media only screen and (min-width:1200px) {
    /* .main-content{
        margin-left: 250px;
        margin-top: 100px;
    } */

}
/* .sidebar-content ul li:hover .submenu {
    display: block;
} */
/* on small screen */
@media only screen and (max-width:768px) {
    .sidebar{
        display: block;
        height: 100vh;
        position: fixed;
        width: 50%;
    }
    /* .main-content{
        margin-left: 50px;
        margin-top: 100px;
    } */
    .header{
        padding: 5%;
    }

    .navbar{
        width: 20%;
        position: relative;
        top: 10%;
        padding: 1%;
        /* opacity: 0; */
    }
    
    .form-container{
        padding: 10%;
        width: 300px;
        position: absolute;
        right: 7%;
        height: 82vh;
        top:15%;
        /* border-radius: 15px; */
    }
    .form-container div{
        margin-bottom: 20px;
    }
    #btn-container{
        position: absolute;
        width: 75%;
    }
    
    .sidebar{
        position: fixed;
    }
    .sidebar-content ul li{
        margin-top: 15px;
    }
}