*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand{
    text-align: center;
}
.brand img{
    width: 50px;
    border-radius: 50%;
}
form div{
    margin-bottom: 10px;
}

.login-button{
    margin-top: 17px;
}
.button{
    background-color: blue;
    color: aliceblue;
    font-weight: 900; 
    border: none;
}
button:hover{
    background-color: blue;
}
.login-button p{
    text-align: center;
    margin-top: 10px;
}
.login-button p a{
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {
    .form-container{
        background-color: blue;
        height: 50vh;
    }
    form{
        background-color: aliceblue;
        width: 80%;
        position: absolute;
        top: 20%;
        padding: 10px;
        left: 10%;
        border-radius: 5px;
    }
    input, button{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
    form div{
        margin-bottom: 5px;
    }
    label{
        font-size: 20px;
    }

}
/* Malik@306 */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px) {
    .form-container{
        background-color: blue;
        height: 50vh;
    }
    form{
        background-color: aliceblue;
        width: 400px;
        position: absolute;
        top: 35%;
        left: 30%;
        padding: 15px;
        border-radius: 10px;
    }
    input, button{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-container{
        background-color:brown;
        height: 50vh;
    }
}