.user-profile, .user-pass{
    margin-top: 5%;
    background-color: blue;
    padding: 25px;
    height: 50vh;
    color: #fff;
    border-radius: 10px;
}

.user-pass{
    display: none;
}

.h1-user-profile{
    text-align: center;
    margin-bottom: 15px;
    
}

h3{
    justify-content:space-between;
    display: flex;
}

.editProfile{
    text-align: center;
    margin-bottom: 0;
}

.editProfile h4{
    margin-top: 15px;
}
.hztal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
}
.hztal button{
    padding: 10px; 
    width: 100%;
    border-radius: 50%;
    background-color:fuchsia;
    color: #fff;
}
.ReferralLinkC{
    width: 100%;
    padding: 10px; 
    border-radius: 10px;
    border:none;
}