.user-profile, .user-pass, .user-pin{
    margin-top: 5%;
    background-color: blue;
    color: #fff;
    border-radius: 10px;
}

.user-pass, .user-pin{
    display: none;
}

.h1-user-profile{
    text-align: center;
    margin-bottom: 15px;
}

h3{
    justify-content:space-between;
    display: flex;
}

.hztal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
}
.hztal button{
    padding: 10px; 
    width: 50%;
    border-radius: 50%;
    background-color:fuchsia;
    color: #fff;
}
.ReferralLinkC, .password-change{
    width: 100%;
    padding: 10px; 
    border-radius: 10px;
    border:none;
}

/* desktop */
@media only screen and (min-width:768px) {
    .main-content{
        width: 100%;
        position: absolute;
        top: 10%;
    }
    .hztal{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        /* top: 2%; */
        /* left: 30%; */
    }
    .user-profile, .user-pass, .user-pin{
        padding: 55px;
        height: 65vh;
        width: 100%;
        position: absolute;
        /*  left: 30%; */
    }
    .password-change{
        margin-bottom: 15px;
    }
    .updatePassBtn{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }
}

/* smart phone */
@media only screen and (max-width:768px) {
    .user-profile, .user-pass, .user-pin{
        padding: 25px;
        height: 50vh;
    }
    .password-change{
        margin-bottom: 10px;
    }
    .updatePassBtn{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }
}