*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand{
    text-align: center;
}
.brand img{
    width: 50px;
    border-radius: 50%;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
form div{
    margin-bottom: 10px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: aliceblue;
    font-weight: 900;
}
.message{
    text-align: center;
}
.button p{
    text-align: center;
    margin-top: 10px;
}
button:hover{
    background-color: blue;
}
.button p a{
    text-decoration: none;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px){
    .form-container{
        background-color: blue;
        height: 50vh;
        width: 100%;
    }
    form{
        background-color: aliceblue;
        width: 50%;
        /* margin: auto; */
        position: absolute;
        top: 15%;
        left: 25%;
        height: 60vh;
        border-radius: 10px;
        padding: 10px;
    }
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width:600px){
    .form-container{
        width: 100%;
        background-color: blue;
        height: 100vh;
    }
    form{
        background-color:aliceblue;
        padding: 10px;
        height: 90%;
        height: 100%;
    }
    
    input, button{
        padding: 10px;
    }
    label{
        font-size: 20px;
        font-weight: 900;
    }
    
}