table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .search-and-heading{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  #search{
    padding: 10px;
    width: 400px;
    border-radius: 15px;
  }
  .search-container{
    position: relative;
    display: flex;
    align-items: center;
  }
  .search-icon{
    position: absolute;
    right: 30px;
    pointer-events:stroke;
  }
  .delete-icon:hover{
    color: red;
  }

  .addUserBtn{
    background-color: blue;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color:aliceblue;
  }
/*Start: Style Update data price section, file name dataPrice.php */
  #setDataPrice{
    background-color: black;
    width: 50%;
    color: #dddddd;
    margin-top: 35px;
    padding: 35px;
    position: relative;
    left: 25%;
    border-radius: 10px;
  }

  .heading{
    text-align: center;
    margin-bottom: 10px;
  }

  #network, #planType, #buying-price, #selling-price, #update{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  #divForUpdate{
    margin-bottom: 7px;
  }
  
  /* End: Style Update data price section */