*{
    box-sizing: border-box; /* This makes sure that the padding and border are included in the total width and height of the elements */
    /* font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body, html{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo{
    max-width: 3%;
    height: auto;
    border-radius: 30%;
}

.menu ul a{
    color: white;
    text-decoration: none;
    position: relative;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    padding: 15px;
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

/* The container of the hamburger */
.menu-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1000;
}

/* Animation for menu toggle icon */
.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:first-child {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.open .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
}


.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust as needed */
    top: 50%;
    width: 0;
    height: 2px; /* Adjust height as needed */
    background-color: darkblue;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.menu ul li a.register{
    transition: none;
    /* background-color: "#fff"; */
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}
/* Set the default border for the .home element */
.menu ul li a.home::after {
    width: 50%;
    left: 50%;
    transition: none;
}

/* On hover, expand the border to 50% of the text width for other elements */
.menu ul li a:hover::after {
    width: 50%;
    left: 50%;
}

#aboutUsImg{
    border-radius: 50%;
}
.aboutUs {
    background-color: blue;
    max-width: 100%;
    color: #fff;
}

.services .grid-container div{
    background-color: #fff;
    width: 250px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
    padding: 15px;
    text-align: center;
}
.testimonials{
    max-width: 1000px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 2rem;
    background-color: blue;
    margin-top: 5px;
}
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #111;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev{
    left: 0;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 20px 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.testimonials p{
    color: #fff;
    text-align: center;
}


.testimonials .testimonialsCardsDiv div{
    color: #111;
    padding: 10px;
    border-radius: 10px;
}

.whatsappUs{
    position: fixed;
    right: 5%;
    bottom: 10%;
}
.whatsappUs i {
    font-size: 5rem;
}

button:hover{
    background-color: #fff;
    color: blue;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: #fff;
    padding: 30px;
    margin-top: 15px;
}
.footer .firstChild p a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer .footer-div{
    text-align: center;
}


/* large screen */
@media only screen and (min-width:768px) {
    .menu ul li{ 
        padding-right: 2rem;
    }
    .menu ul{
        display: flex;
        list-style: none;
    }
    .menu-toggle{
        display: none;
    }

    /* hero start */
    .hero{
        display: flex;
        justify-content: space-between;
        align-items:center ;
        padding: 55px;
        max-width: 100%;
        border-bottom: solid 1px black;
        border-radius: 50px;
        margin-bottom: 7%;
    }
    
    .hero .hero-text{
        position: relative;
    }
    
    .hero .hero-text h1 span, .contact-info h1 span{
        color: blue;
        font-weight: 900;
    }
    
    .hero .hero-text .effect{
        position: absolute;
        top: 5%;
        background-color: blue;
        width: 30%;
        height: 5%;
    }
    
    .hero .hero-text h3{
        background-color: blue;
        color: #fff;
        width: 60%;
        padding: 1%;
        text-align: center;
        border-radius: 20px;
    }
    
    .hero .hero-text .btn1, .btn2{
        background-color: blue;
        text-decoration: none;
        padding: 2%;
        border-radius: 5%;
        color: #fff;
        font-weight: bolder;    
        position: relative;
        left: 15%;
        bottom: 15%;
        gap: 5px;
    }
    
    .hero .hero-text a:hover{
        background-color: #111;
    }
    .hero .hero-img img{
        border-radius: 50%;
    }
        
     /*hero ends*/
    .aboutUs{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 15px;
        padding: 100px;
    }
    .aboutUs img{
        max-width: 20%;
        height: auto;
        margin-right: 20px;
    }
   
    .aboutUs h2{
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 5px;
    }
    .aboutUs  h4{
        line-height: 27px;
        font-weight: 100;
    }
    .services .grid-container{
        padding-left: 10%;
      }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        align-items: center;
    }
    
    /* .services{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px; */
    /* } */
    .services h1{
        text-align: center;
        margin-bottom: 15px;
    }
    .services div{
        text-align: center;
    }
    .services div i{
        font-size: 2.5rem;
    }
    .services div h2{
        margin-bottom: 15px;
    }
    .prices{
        margin-top: 20px;
    }
    .prices h1{
        text-align: center;
    }
    .prices .grid-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    .prices .grid-container img{
        width: 90px;
    }
    .prices .grid-container div img{
        border-radius: 50%;
        padding: 5px;
    }
    .prices .grid-container div td{
        padding: 15px;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }
    
    .testimonials .testimonialsCardsDiv{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        
    }
    .testimonials .testimonialsCardsDiv div{
        width: 250px;
        background-color: #fff;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
        text-align: center;
    }
    
    .testimonials .testimonialsCardsDiv img{
        width: 100px;
        border-radius: 50%;
    }
    .testimonials .testimonialsCardsDiv div p{
        color: #111;
    }
    .whyChooseUs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 0 5rem;
    }
    .whyChooseUs div{
        width: 200px;
        border: 1px solid 'blue';
        text-align: 'center';
    }
    .whyChooseUs div i{
        font-size: 3rem;
        background-color: 'lightgreen';
    }
    
    .footer .firstChild{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer .copy-right{
        text-align: center;
        margin-top: 15px;
    }
    .footer .firstChild #subscribe, #subscribe-button{
        padding: 8px;
    }
}

/* fo tablt */
@media only screen and (min-width: 600px) {
    
}

/* small screen */
@media only screen and (max-width:768px){
    .header{
        padding: 30px;
        /* position: fixed; */
    }
    #about #aboutUsImg{
        width: 20%;
    }
    .menu {
        position: fixed;
        top: -100%; /* Initially hidden */
        left: 0;
        width: 100%;
        height: 100%;
        background-color:blue;
        transition: top 0.3s ease;
        z-index: 999;
    }

    .menu ul{
        padding: 10px;
        margin-top: 35px;
    }
    .menu ul li{
        text-align: center;
        display: block;
        border-bottom: 1px solid #444;
    }
    .menu ul li a{
        display: block;
        text-align: center;
    }

    .logo{
        display: none;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        border-radius: 50px;
        margin-bottom: 25%;
    }
  

    .hero-text{
        text-align: center;
        padding-top: 25%;
    }

    .hero .hero-text .effect{
        position: absolute;
        left: 3%;
        /* background-color: #00fa9a; */
        width: 50%;
        height: 2%;
    }

    .hero-text h1 {
        position: relative;
        font-size: 1.5rem;
    }

    .hero-text h1 span{
        color: blue;
        font-weight: 900;
    }

    .hero-text h3 {
        font-size: 1rem;
    }

    .hero-text .btn1,
    .hero-text .btn2 {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 8px 16px;
        background-color: blue;
        color: #fff;
        border-radius: 10%;
        font-weight: 900;
    }

    .hero .hero-img{
        padding-top: 5%;
    }

    .hero .hero-img .imgBg{
        position: absolute;
        right: 22%;
        z-index: -1;
        background-color: mediumspringgreen;
        border-radius: 50%;
        width: 40%;
        height: 30%;
    }

    .hero .hero-img .discount{
        position: absolute;
        left: 5%;
        background-color: purple;
        display: block;
        color: #fff;
        border-radius: 50%;
        padding: 2%;
        font-size: 0.8rem;
    }

    .hero .hero-img{
        text-align: center;
    }

    .hero-img img {
        max-width: 200px;
        height: 150px;
        border-radius: 50%;
    }

    .hero .hero-img .fast{
        position: absolute;
        right: 5%;
        /* bottom: 15%; */
        color: #fff;
        background-color: purple;
        border-radius: 50%;
        font-size: 0.8rem;
        padding: 2%;
        margin-top: 5px;
    }
    .aboutUs{
        position: static;
        margin-top: 20px;
        /* padding: 0px 15px; */
        max-width: 100%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .aboutUs img{
        position: relative;
        /* top: 5%; */
        right: 2%;
        bottom: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .aboutUs h2{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .aboutUs h4{
        font-weight: 100;
        line-height: 40px;
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services h1{
        margin-bottom: 10px;
    }
    .services div{
        margin-bottom: 10px;
    }
    .services div i{
        font-size: 1.7rem;
    }
    .services div h2{
        margin-bottom: 10px;
    }
    .prices .grid-container div img{
        border-radius: 50%;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .prices .grid-container div td{
        padding: 10px;
    }
    .prices h1{
        text-align: center;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }
    
    .testimonials .testimonialsCardsDiv div{
        justify-content: center;
        align-items: center;
        width: 250px;
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1.5);
        text-align: center;
    }
    .testimonials .testimonialsCardsDiv img{
        width: 100px;
        border-radius: 50%;
    }
    .testimonials .testimonialsCardsDiv div p{
        color: black;
    }
    .whyChooseUs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .whyChooseUs div{
        width: 250px;
        /* border: 1px solid 'blue'; */
        text-align: 'center';
    }
    .whyChooseUs div i{
        font-size: 3rem;
        background-color: 'lightgreen';
    }
    .footer .firstChild h1{
        text-align: center;
    }
    .footer .firstChild #subscribe{
        position: relative;
        padding: 5px;
        width: 65%;
    }
    .newsletterH{
        text-align: center;
        font-size: 18px;
    }
    #subscribe-button{
        padding: 5px;
        position: absolute;
        right: 17%;
        /* top: 5%; */
        background-color: orangered;
        color: #f2f2f2;
        font-weight: bold;
    }
}