* {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 215px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: 0.9s;
    z-index: 1;
}
.header{
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 15px;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.navbar{
    width: 50px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    flex: 1;
    box-sizing: border-box;
}
.sidebar-content{
    margin-top: 55px;
}


.sidebar-content ul li:hover {
    background-color: #555;
}

/* Add this CSS to your existing stylesheet */
.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar-content ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.sidebar-content ul li i {
    margin-right: 10px;
}

.sidebar-content ul li.with-arrow {
    position: relative;
}

.sidebar-content ul li.with-arrow i.bi-chevron-down {
    position: absolute;
    right: 5px;
}
a{
    text-decoration: none;
    color: #fff;
}
.submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* z-index: 1; */
    margin-top: 40px;
}
.submenu li{
    padding: 10px;
    /* border-bottom: 1px solid #555;  */
}
.sidebar-content ul li.open + li {
    margin-top: 135px; /* Adjust the margin as needed */
}


.chart-container, .funding-revenue {
    width: 60%;
    margin: 10px auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head{
    width: 90%;
    color: black;
    text-align: left;
    margin-bottom: 10%;
    margin: 50px auto;
    border-radius: 10px;
}
.row-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row-1 > div, .row-2 > div{
    border: 1px solid #ccc;
    padding: 30px; 
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}
.child1 {
    background-color: #f0f0f0; /* Example background color */
  }
.child1 h5, .child2 h5, .child3 h5{
    margin-bottom: 10px;
}
  .child2 {
    background-color: #e0e0e0; /* Example background color */
  }
  
  .child3 {
    background-color: #d0d0d0; /* Example background color */
  }
  .row-2{
    display:flex;
    justify-content: space-around;
  }
/* large screen */
@media only screen and (min-width:1200px) {
    .main-content{
        margin-left: 250px;
        margin-top: 100px;
    }
}
/* .sidebar-content ul li:hover .submenu {
    display: block;
} */
/* on small screen */
@media only screen and (max-width:767px) {
    .sidebar{
        display: none;
        height: 100vh;
        position: fixed;
    }
    .main-content{
        margin-left: 50px;
        margin-top: 100px;
    }
    .sidebar{
        z-index: 1;
        position: absolute;
        right: 10%;
    }
    .sidebar-content ul li{
        margin-top: 15px;
    }
    .sidebar{
        position: fixed;
    }
    
}