table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .search-and-heading{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  #search{
    padding: 10px;
    width: 400px;
    border-radius: 15px;
  }
  .search-container{
    position: relative;
    display: flex;
    align-items: center;
  }
  .search-icon{
    position: absolute;
    right: 30px;
    pointer-events:stroke;
  }
  .delete-icon:hover{
    color: red;
  }

  .addUserBtn{
    background-color: blue;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color:aliceblue;
  }

  